<% provide(:title, @food.name) %>
<h1><%= @food.name %></h1>
<div class="row">
  <aside class="col-md-4">

    <section class="user_info">
      <%= render 'foods/food_form' %>
    </section>
  </aside>
</div>
</div>